.container .row button{
    background: linear-gradient(to bottom, #6C5CE7, #311fb8);
    color: white;
    font-weight: 600;
}

.container{
    background-color: #c9c5ec;
    padding: 30px;
    font-size: medium;
    color: #6C5CE7;
    height: 50%;
    width: 22%;
    margin: auto;
    text-align: center;
    border: 3px solid violet;
}
.me{
    width:100%;
}

input{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    
}

.form-control{
    border-radius: 30px;;
}
label{
    float:left;
}
.loginredirect{
    margin-top:20px;
}